body {
  font-family: sans-serif;
}

/*Form wrapper*/

.App {
  /*width: 100vw;*/
  /*height: 100vh;*/
  width: 75%;
  margin: auto;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

.Container {
 /*height: 90%;*/
 width: 100%;
 border-radius: 0.2rem;
 margin-top: 20pt;
 margin-bottom: 20pt;
 /*overflow: hidden;*/
 background-color: #F7E8EC;
 display: grid;
 grid-template-columns: 2fr 1fr;
 grid-template-areas: "header header"
                      "form progressbar"
                      "footer footer";
}

/* Header */

.App-header {
  width: 100%;
  grid-area: header;
  background-color: #D10E48;
  /*height: 44px;*/
  display: flex;
  justify-content: space-between;
  padding: 3px;
  color: white;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 44px;
  padding-left: 5px;
  align-self: center;
}
/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
*/
.Header-end {
  width: 44px;
}

.App-title {
  align-self: center;
  text-justify: center;
  font-size: 1.4em;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

/* Footer Style */

.App-footer {
  grid-area: footer;
  /*height: 52px;*/
  padding-bottom: 10pt;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30pt;
}

.btn_primary {
  width: 10em;
  height: 2em;
  margin: 10px;
  color: #fff;
  background-color: #D10E48;
  border-color: #D10E48;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1em;
  line-height: 1.5;
  border-radius: 10em;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid #D10E48;
}

.btn_secondary {
  width: 150px;
  height: 27px;
  margin: 10px;
  color: #fff;
  background-color: #F7E8EC;
  color: grey;
  padding-bottom: 1px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 0.8rem;
  line-height: 1.5;
  border-radius: .7rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  border: 1px solid #D10E48;;
}

::-webkit-scrollbar { 
  display: none; 
}

/* Form body */

.App-body {
  grid-area: form;
  /*overflow: auto;*/
  /*height: 450px;*/
}

.App-content {
  grid-area: detail;
  /*width: 60%;
  /*height: 400px;*/
  padding-left: 20px;
  padding-right: 20px;
  /*float: left;*/
}

.test {
  grid-area: detail;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "test"
                        "work";
}

.personalFormStyle {
  grid-area: test;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "name name"
                      "ic ic"
                      "nat nat"
                      "dob gender"
                      "address address"
                      "postcode state"
                      "phone phone"
                      "email email";
  margin-left: 30pt;
  margin-right: 30pt;
  margin-top: 30pt;
}

.workingFormStyle {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "tax tax"
                      "epf epf"
                      "occu occu"
                      "gross nett"
                      "depend depend";
  margin-left: 30pt;
  margin-top: 20pt;
  margin-bottom: 30pt;
}

.kinFormStyle {
  grid-area: test;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "name name"
                      "relation relation"
                      "nat nat"
                      "ic ic"
                      "address address"
                      "postcode state"
                      "phone phone"
                      "email email";
  margin-left: 30pt;
  margin-right: 30pt;
  margin-top: 30pt;
}

.name {
  grid-area: name;
  display: flex;
  flex-direction: column;
}

.ic {
  grid-area: ic;
  display: flex;
  flex-direction: column;
  margin-top: 30pt;
}

.relation {
  grid-area: relation;
  display: flex;
  flex-direction: column;
  margin-top: 30pt;
}

.nationality {
  grid-area: nat;
  display: flex;
  flex-direction: column;
  margin-top: 30pt;
}

.dob {
  grid-area: dob;
  display: flex;
  flex-direction: column;
  /*width: 80%;*/
  margin-right: 16pt;
  margin-top: 30pt;
}

.gender {
  grid-area: gender;
  display: flex;
  flex-direction: column;
  /*width: 84%;*/
  margin-left: 16pt;
  margin-top: 30pt;
}

.address {
  grid-area: address;
  display: flex;
  flex-direction: column;
  margin-top: 30pt;
}

.postcode {
  grid-area: postcode;
  display: flex;
  flex-direction: column;
  /*width: 80%;*/
  margin-right: 16pt;
  margin-top: 30pt;
}

.state {
  grid-area: state;
  display: flex;
  flex-direction: column;
  /*width: 93%;*/
  margin-left: 16pt;
  margin-top: 30pt;
}

.phone {
  grid-area: phone;
  display: flex;
  flex-direction: column;
  margin-top: 30pt;
}

.email {
  grid-area: email;
  display: flex;
  flex-direction: column;
  margin-top: 30pt;
}

.work {
  grid-area: work;
  display: flex;
  flex-direction: column;
  margin-top: 30pt;
  margin-left: 30pt;
}

.tax {
  grid-area: tax;
  display: flex;
  flex-direction: column;
  margin-top: 30pt;
}

.epf {
  grid-area: epf;
  display: flex;
  flex-direction: column;
  margin-top: 30pt;
}

.occupation {
  grid-area: occu;
  display: flex;
  flex-direction: column;
  margin-top: 30pt;
}

.gross {
  grid-area: gross;
  display: flex;
  flex-direction: column;
  margin-top: 30pt;
  margin-right: 16pt;
}

.nett {
  grid-area: nett;
  display: flex;
  flex-direction: column;
  margin-top: 30pt;
  margin-left: 16pt;
}

.depend {
  grid-area: depend;
  display: flex;
  flex-direction: column;
  margin-top: 30pt;
}

.Form{
  margin-top: 0px;
}

.Form-row-col {
  height: 40px;
  width: 99%;
  margin: 2px;
  display: flex;
  justify-content: space-between;
}

.Form-row {
  grid-area: inrow;
  height: 40px;
  width: 99%;
  margin: 2px;
}

.Form-col {
  grid-area: incol;
  height: 38px;
  width: 50%;
}

.Form-label{
  margin-block-end: 10px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.Form-input{
  width: 90%;
  margin-block-end: 10px;
  padding: .05rem .1rem;
  padding-top: 0.05rem;
  padding-right: 0.25rem;
  padding-bottom: 0.05rem;
  padding-left: 0.25rem;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .15rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color, box-shadow;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: initial, initial;
}

.errorTextStyle {
  color: #FF0000;
}

.Button-row-col{
  height: 20px;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.Form-button{
  width: 10em;
  height: 2em; 
  font-size: 1em;
  border: 1px solid #ced4da;
  border-radius: .15rem;
  margin-top: 2px;
  margin-block-end: 10px;
  background-color: white;
  color: black;
}

.Invalid-feedback {
  height: 93px;
  width: 70%;
}

.Upload-row {
  height: 200px;
  width: 100%;
  margin: 10px;
}

.Upload-label{
  margin-block-end: 10px;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}

.Upload-input{
  grid-area: browse;
  padding-left: 125px;
  padding-right: 50px;
  font-size: 1.0rem;
}

.drop-zone{
  height: 120px;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-areas: ". . ."
                        ". title ."
                        ". subtitle ."
                        ". browse ."
                        ". . .";
}

.Title{
  grid-area: title;
  text-align: center;
}

.Subtitle{
  grid-area: subtitle;
  text-align: center;
}

.Drag-drop{
          width: 100%;
          height: 120px;
          margin-block-end: 10px;
          padding: .05rem .1rem;
          padding-top: 0.05rem;
          padding-right: 0.25rem;
          padding-bottom: 0.05rem;
          padding-left: 0.25rem;
          font-size: 0.8rem;
          line-height: 1.5;
          color: #495057;
          background-color: #fff;
          background-clip: padding-box;
          border: 1px dashed #ced4da;
          border-radius: .15rem;
}

.after-drop{
  width: 100%;
  height: 100px;
  margin-block-end: 10px;
  padding: .05rem .1rem;
  padding-top: 0.05rem;
  padding-right: 0.25rem;
  padding-bottom: 0.05rem;
  padding-left: 0.25rem;
  font-size: 0.8rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .15rem;
  display: grid;
  grid-template-columns: 100px 1fr 80px 100px;
  grid-template-areas: ". . . ."
                      ". attachment cancel ."
                      ". . . .";
}

.attachment{
  height: 25px;
  grid-area: attachment;
  font-size: 1.5rem;
  color: black; 
  align-self: center;
}

.cancel-button{
  grid-area: cancel;
  width : 80px;
  margin: 0px;
  align-self: center;
}
.successContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Progress Section */

.App-progress-bar {
  grid-area: progressbar;
  height: 100%;
  width: 100%;
 /* float: right;*/
  background-color: #F0BDCC;
}

.progressContainer {
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 10px;
  width: fit-content;
}

.Section{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  margin-top: 10%;
}

.Section-title{
 width: 80%;
 font-size: 0.8rem; 
 color: black;
 margin-top: 0;
 margin-bottom: 2px;
 margin-right: 6px;
 align-self: center;
}

.Section-description{
  width: 80%;
  font-size: 0.8rem; 
  color: grey;
  margin-top: 0;
  margin-bottom: 2px;
  margin-right: 6px;
  align-self: center;
 }

 @media all and (max-width: 768px) {

  .App {
    width: 100%;
  }

  .Container {
    height: 100%;
    /*width: 100%;*/
    border-radius: 0.2rem;
    overflow: hidden;
    background-color: #F7E8EC;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
                         "progressbar"
                         "form" 
                         "footer";
   }

  .App-body {
    grid-area: form;
  }

  .personalFormStyle {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "name"
                        "ic"
                        "nat"
                        "dob"
                        "gender"
                        "address"
                        "postcode"
                        "state"
                        "phone"
                        "email"
                        "work";
    margin-left: 30pt;
    margin-top: 30pt;
    padding-right: 30pt;    
  }

  .kinFormStyle {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "name"
                        "relation"
                        "nat"
                        "ic"
                        "address"
                        "postcode"
                        "state"
                        "phone"
                        "email"
                        "work";
    margin-left: 30pt;
    margin-top: 30pt;
    padding-right: 30pt;
  }

  .workingFormStyle {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "tax"
                        "epf"
                        "occu"
                        "gross" 
                        "nett"
                        "depend";
    margin-left: 30pt;
    margin-top: 20pt;
    margin-bottom: 30pt;
    padding-right: 30pt;
  }

  .dob {
    grid-area: dob;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30pt;
    margin-left: 0pt;
  }

  .gender {
    grid-area: gender;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30pt;
    margin-left: 0pt;
  }

  .postcode {
    grid-area: postcode;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30pt;
  }

  .state {
    grid-area: state;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30pt;
    margin-left: 0pt;
  }

  .gross {
    grid-area: gross;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 0px;
  }

  .nett {
    grid-area: nett;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0px;
  }

 }
