.Form{
    margin-top: 10px;
  }
  
  .Upload-row {
    height: 80px;
    width: 99%;
    margin: 2px;
  }
  
  .Upload-label{
    margin-block-end: 10px;
    font-size: 0.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
  }

  .Drag-drop{
            width: 240px;
            height: 60px;
            margin-block-end: 10px;
            padding: .05rem .1rem;
            padding-top: 0.05rem;
            padding-right: 0.25rem;
            padding-bottom: 0.05rem;
            padding-left: 0.25rem;
            font-size: 0.5rem;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px dashed #ced4da;
            border-radius: .15rem;
  }